﻿@model List<BrightSkool.Domain.Dto.RegistrationDto>
@{
    ViewBag.CurrentPage = "Admission.RegisteredStudents";
}
<style type="text/css">
    #tblRegisteredStudentsNew_filter, #tblRegisteredStudentsSelected_filter, #tblRegisteredStudentsRejected_filter, #tblRegisteredStudentsWaitlisted_filter, #tblRegisteredStudentsNew_length, #tblRegisteredStudentsRejected_length, #tblRegisteredStudentsSelected_length, #tblRegisteredStudentsWaitlisted_length {
        display: none !important;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Dashboard/Index">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Registered Students</span>
    </li>
</ul>
<div class="row">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-globe theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Registered Students</span>
            </div>

        </div>
        <div class="portlet-body">
            <div class="tabbable-line">
                @*<ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1">New</a>
                        </li>
                        <li>
                            <a href="#tab_1_2">Selected</a>
                        </li>
                        <li>
                            <a href="#tab_1_3">Waitlisted</a>
                        </li>
                        <li>
                            <a href="#tab_1_4">Rejected</a>
                        </li>
                    </ul>*@
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="txtapplicantname">Name</label>
                                        <input type="text" class="form-control" id="txtapplicantname" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="txtapplicantnationality">Nationality</label>
                                        <input type="text" class="form-control" id="txtapplicantnationality" placeholder="Enter Nationality">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="txtapplicantdistance">Distance</label>
                                        <input type="text" class="form-control" id="txtapplicantdistance" placeholder="Enter Distance">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="txtapplicantclass">Class</label>
                                        <input type="text" class="form-control" id="txtapplicantclass" placeholder="Enter Class">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="sr-only" for="txtapplicantage">Age</label>
                                        <input type="text" class="form-control" id="txtapplicantage" placeholder="Enter Age">
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control input-inline" id="ddl_tblRegisteredStudentsNew">
                                                <option value="">Select...</option>
                                                <option value="New">New</option>
                                                <option value="Selected">Selected</option>
                                                <option value="Waitlisted">Waitlisted</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                            <button class="btn btn-primary process-applicant" id="btn_tblRegisteredStudentsNew" onclick="GetSelectedGuids(this)">
                                                <i class="fa fa-check"></i>Submit
                                            </button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <table class="table table-striped table-bordered" id="tblRegisteredStudentsNew">
                            <thead>
                                <tr>
                                    <th>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="group-checkable" id="chkselectallnewapplicants">
                                            <span></span>
                                        </label>
                                    </th>
                                    <th>Name</th>
                                    <th>Admission Class</th>
                                    <th>Nationality</th>
                                    <th>Distance to school</th>
                                    <th>Age</th>
                                    <th>Sibling</th>
                                    <th>Registered Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var processRegistration in Model)
                                {
                                    <tr>
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td><span style="display:none" id="spnRegistrationID">@processRegistration.Id</span>@string.Format("{0} {1} {2}", processRegistration.Applicant.FirstName, processRegistration.Applicant.MiddleName, processRegistration.Applicant.LastName)</td>
                                        <td>@processRegistration.Level</td>
                                        <td>@processRegistration.Nationality.CountryNationality</td>
                                        <td>@processRegistration.DistanceToSchool</td>
                                        <td>@processRegistration.Age</td>
                                        <td>@processRegistration.Sibbling</td>
                                        <td>@processRegistration.RegisteredDate.ToString("dd-MMM-yyyy")</td>
                                        <td><span class="label label-sm label-info">New</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @*<div class="tab-pane" id="tab_1_2">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtselectedapplicantname">Name</label>
                                            <input type="text" class="form-control" id="txtselectedapplicantname" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtselectedapplicantnationality">Nationality</label>
                                            <input type="text" class="form-control" id="txtselectedapplicantnationality" placeholder="Enter Nationality">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtselectedapplicantdistance">Distance</label>
                                            <input type="text" class="form-control" id="txtselectedapplicantdistance" placeholder="Enter Distance">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtselectedapplicantclass">Class</label>
                                            <input type="text" class="form-control" id="txtselectedapplicantclass" placeholder="Enter Class">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtselectedapplicantage">Age</label>
                                            <input type="text" class="form-control" id="txtselectedapplicantage" placeholder="Enter Age">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control input-inline" id="ddl_tblRegisteredStudentsSelected">
                                                <option value="">Select...</option>
                                                <option value="New">New</option>
                                                <option value="Selected">Selected</option>
                                                <option value="Waitlisted">Waitlisted</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                            <button class="btn btn-sm green process-applicant" id="btn_tblRegisteredStudentsSelected" onclick="GetSelectedGuids(this)">
                                                <i class="fa fa-check"></i> Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered" id="tblRegisteredStudentsSelected">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" id="chkselectallselectedapplicants">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th>Name</th>
                                        <th>Admission Class</th>
                                        <th>Nationality</th>
                                        <th>Distance to school</th>
                                        <th>Age</th>
                                        <th>Sibling</th>
                                        <th>Registered Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var processRegistration in Model.selectedApplicants)
                                    {
                                    <tr>
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td><span style="display:none" id="spnRegistrationID">@processRegistration.Id</span>@string.Format("{0} {1} {2}", processRegistration.Applicant.FirstName, processRegistration.Applicant.MiddleName, processRegistration.Applicant.LastName);</td>
                                        <td>@processRegistration.Level</td>
                                        <td>@processRegistration.Nationality.CountryNationality</td>
                                        <td>@processRegistration.DistanceToSchool</td>
                                        <td>@processRegistration.Age</td>
                                        <td>@processRegistration.Sibbling</td>
                                        <td>@processRegistration.RegisteredDate.ToString("dd-MMM-yyyy")</td>
                                        <td><span class="label label-sm label-success">Selected</span></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_1_3">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtwaitlistedapplicantname">Name</label>
                                            <input type="text" class="form-control" id="txtwaitlistedapplicantname" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtwaitlistedapplicantnationality">Nationality</label>
                                            <input type="text" class="form-control" id="txtwaitlistedapplicantnationality" placeholder="Enter Nationality">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtwaitlistedapplicantdistance">Distance</label>
                                            <input type="text" class="form-control" id="txtwaitlistedapplicantdistance" placeholder="Enter Distance">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtwaitlistedapplicantclass">Class</label>
                                            <input type="text" class="form-control" id="txtwaitlistedapplicantclass" placeholder="Enter Class">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtwaitlistedapplicantage">Age</label>
                                            <input type="text" class="form-control" id="txtwaitlistedapplicantage" placeholder="Enter Age">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control input-inline" id="ddl_tblRegisteredStudentsWaitlisted">
                                                <option value="">Select...</option>
                                                <option value="New">New</option>
                                                <option value="Selected">Selected</option>
                                                <option value="Waitlisted">Waitlisted</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                            <button class="btn btn-sm green process-applicant" id="btn_tblRegisteredStudentsWaitlisted" onclick="GetSelectedGuids(this)">
                                                <i class="fa fa-check"></i> Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered" id="tblRegisteredStudentsWaitlisted">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" id="chkselectallwaitlistedapplicants">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th>Name</th>
                                        <th>Admission Class</th>
                                        <th>Nationality</th>
                                        <th>Distance to school</th>
                                        <th>Age</th>
                                        <th>Sibling</th>
                                        <th>Registered Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var processRegistration in Model.waitlistedApplicants)
                                    {
                                    <tr>
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td><span style="display:none" id="spnRegistrationID">@processRegistration.Id</span>@string.Format("{0} {1} {2}", processRegistration.Applicant.FirstName, processRegistration.Applicant.MiddleName, processRegistration.Applicant.LastName);</td>
                                        <td>@processRegistration.Level</td>
                                        <td>@processRegistration.Nationality.CountryNationality</td>
                                        <td>@processRegistration.DistanceToSchool</td>
                                        <td>@processRegistration.Age</td>
                                        <td>@processRegistration.Sibbling</td>
                                        <td>@processRegistration.RegisteredDate.ToString("dd-MMM-yyyy")</td>
                                        <td><span class="label label-sm label-warning">Waitlisted</span></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_1_4">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtrejectedapplicantname">Name</label>
                                            <input type="text" class="form-control" id="txtrejectedapplicantname" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtrejectedapplicantnationality">Nationality</label>
                                            <input type="text" class="form-control" id="txtrejectedapplicantnationality" placeholder="Enter Nationality">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtrejectedapplicantdistance">Distance</label>
                                            <input type="text" class="form-control" id="txtrejectedapplicantdistance" placeholder="Enter Distance">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtrejectedapplicantclass">Class</label>
                                            <input type="text" class="form-control" id="txtrejectedapplicantclass" placeholder="Enter Class">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="txtrejectedapplicantage">Age</label>
                                            <input type="text" class="form-control" id="txtrejectedapplicantage" placeholder="Enter Age">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select class="form-control input-inline" id="ddl_tblRegisteredStudentsRejected">
                                                <option value="">Select...</option>
                                                <option value="New">New</option>
                                                <option value="Selected">Selected</option>
                                                <option value="Waitlisted">Waitlisted</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                            <button class="btn btn-sm green process-applicant" id="btn_tblRegisteredStudentsRejected" onclick="GetSelectedGuids(this)">
                                                <i class="fa fa-check"></i> Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered" id="tblRegisteredStudentsRejected">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" id="chkselectallrejectedapplicants">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th>Name</th>
                                        <th>Admission Class</th>
                                        <th>Nationality</th>
                                        <th>Distance to school</th>
                                        <th>Age</th>
                                        <th>Sibling</th>
                                        <th>Registered Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var processRegistration in Model.rejectedApplicants)
                                    {
                                    <tr>
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td><span style="display:none" id="spnRegistrationID">@processRegistration.Id</span>@string.Format("{0} {1} {2}", processRegistration.Applicant.FirstName, processRegistration.Applicant.MiddleName, processRegistration.Applicant.LastName);</td>
                                        <td>@processRegistration.Level</td>
                                        <td>@processRegistration.Nationality.CountryNationality</td>
                                        <td>@processRegistration.DistanceToSchool</td>
                                        <td>@processRegistration.Age</td>
                                        <td>@processRegistration.Sibbling</td>
                                        <td>@processRegistration.RegisteredDate.ToString("dd-MMM-yyyy")</td>
                                        <td><span class="label label-sm label-danger">Rejected</span></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Bundles/DatatableJS")
@Styles.Render("~/Bundles/DatatableCSS")
@Scripts.Render("~/Bundles/ProcessRegistration")
