﻿
@model BrightSkool.Domain.Dto.RegistrationDto
@{
    ViewBag.CurrentPage = "Registration";
    var countryList = @Html.Raw(Json.Encode(ViewBag.Countries));
    <script type="text/javascript">
        $(document).ready(function () {
            getCountryList('@countryList');
            //Code for Drop Downs
            debugger;
            //selectDropdowns('@Model.StudentAddress.State','@Model.StudentAddress.City');
        });
    </script>
}
@{
    Layout = "~/Views/Shared/_LayoutWithOutLeftMenu.cshtml";
}

@using (Html.BeginForm("SaveOrUpdateModel", "Registration", FormMethod.Post, new { enctype = "multipart/form-data", name = "registrationInformationForm", @class = "registration-form" }))
{
    <input type="hidden" id="hfuploaddocs" name="uploadeddocs" />
    <input type="hidden" id="hfcontactperson" name="contactpersons" />
    <input type="hidden" id="hfCountryList" name="CountryLists" />
    <div class="row" ng-app="registrationapp" ng-controller="registrationcontroller">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet bordered">
                    <!-- SIDEBAR USERPIC -->
                    <div data-provides="fileinput">

                        <div class="profile-userpic">
                            <div class="fileinput-preview">
                                <img src="~/App_Images/ProfilePic/default-profile-picture.png" class="img-responsive" id="uploadimage" alt="">
                            </div>
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> {{sfirstName}} {{smiddleName}} {{slastName}} </div>
                            @*<div class="profile-usertitle-job"> Developer </div>*@
                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn default btn-file">
                                    <span class="fileinput-new"> Select image </span>
                                    <span class="fileinput-exists"> Change </span>
                                    <input type="file" name="profilepicture" id="profilepic" />
                                </span>
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                            </div>
                        </div>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav navigation-tabs">
                            <li class="tabmenu active" id="tabmenu1">
                                <a href="#">
                                    <i class="icon-pin"></i> Personal Information
                                </a>
                            </li>
                            <li class="tabmenu" id="tabmenu2">
                                <a href="#">
                                    <i class="icon-pin"></i> Contact Person
                                </a>
                            </li>
                            <li class="tabmenu" id="tabmenu3">
                                <a href="#">
                                    <i class="icon-pin"></i> Terms and Conditions
                                </a>
                            </li>
                            <li class="tabmenu" id="tabmenu4">
                                <a href="#">
                                    <i class="icon-pin"></i> Other Information
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Student Registration</span>
                                </div>
                                @*<ul class="nav nav-tabs">
                                        <li class="tabmenu active" id="tabmenu1">
                                            <a href="#">Personal Info</a>
                                        </li>
                                        <li class="tabmenu" id="tabmenu2">
                                            <a href="#">Contact Person</a>
                                        </li>
                                        <li class="tabmenu" id="tabmenu3">
                                            <a href="#">Terms and Conditions</a>
                                        </li>
                                        <li class="tabmenu" id="tabmenu4">
                                            <a href="#">Other Information</a>
                                        </li>
                                    </ul>*@
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <form class="registration-personalInfoform"></form>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.Applicant.FirstName, new { id = "txtfirstname", @class = "form-control", @required = "required", @ng_model = "sfirstName" })
                                                    <label>First name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.Applicant.MiddleName, new { id = "txtmiddlename", @class = "form-control", @ng_model = "smiddleName" })
                                                    <label>Middle name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.Applicant.LastName, new { id = "txtlastname", @class = "form-control", @ng_model = "slastName" })
                                                    <label>Last name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.DOB, new { id = "txtdob", @class = "form-control date-picker", @required = "required", @Value = @Model.DOB.ToString("dd-MMM-yyyy").Equals("01-Jan-0001") ? "" : @Model.DOB.ToString("MM/dd/yyyy") })
                                                    <label>DOB</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.DropDownListFor(model => model.Applicant.Gender, new SelectList(ViewBag.Gender, "Value", "Text"), "", new { id = "ddlGender", @class = "form-control", @required = "required" })
                                                    <label>Gender</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.DropDownListFor(model => model.Nationality.CountryNationality, new SelectList(ViewBag.Nationalities, "CountryNationality", "ISONationality"), "", new { id = "ddlNationalities", @class = "form-control selectpicker", @required = "required" })
                                                    <label>Nationality</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.PIN.PersonalIDNumber, new { id = "txtnric", @class = "form-control", @required = "required" })
                                                    <label>Personal Identification Number</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.Level, new { id = "txtadmissionstandard", @class = "form-control", @required = "required" })
                                                    <label>Standard Seaking Admission</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.SecondLanguage, new { id = "txtsecondlanguage", @class = "form-control", @required = "required" })
                                                    <label>Second Language</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption font-red-sunglo">
                                                        <i class="icon-arrow-right font-red-sunglo"></i>
                                                        <span class="caption-subject uppercase">Address</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.StudentAddress.AddressLine1, new { id = "txtpmntaddress", @class = "form-control", @required = "required" })
                                                    <label>Address</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-md-line-input form-md-line-input">
                                                    @Html.DropDownListFor(model => model.StudentAddress.Country, new SelectList(ViewBag.Countries, "CountryCode", "CountryName"), "--Select--", new { id = "ddlCountry", @class = "form-control edited", @required = "required", @onchange = "FillStateByCountry()" })
                                                    <label>Country</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                @*<div class="form-group form-md-line-input form-md-floating-label">
                                                        @Html.TextBoxFor(model => model.StudentAddress.State, new { id = "txtpmntstate", @class = "form-control" })
                                                        <label>State</label>
                                                    </div>*@
                                                <div class="form-group form-md-line-input form-md-line-input">
                                                    @Html.DropDownListFor(m => m.StudentAddress.State, Enumerable.Empty<SelectListItem>(), "--Select--", new { id = "ddlState", @class = "form-control", @onchange = "FillCityByState()" })
                                                    <label>State</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-line-input">
                                                    @Html.DropDownListFor(m => m.StudentAddress.City, Enumerable.Empty<SelectListItem>(), "--Select--", new { id = "ddlCity", @class = "form-control" })
                                                    <label>City</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.StudentAddress.ZipCode, new { id = "txtpmntzipcode", @class = "form-control", @required = "required" })
                                                    <label>Postal Code</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption font-red-sunglo">
                                                        <i class="icon-arrow-right font-red-sunglo"></i>
                                                        <span class="caption-subject uppercase">Telephone and Email</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.PhoneNumber.PhoneNumber, new { id = "txtmobile", @class = "form-control", @required = "required" })
                                                    <label>Mobile</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.Email, new { id = "txtemail", @class = "form-control", @required = "required" })
                                                    <label>Email</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="margiv-top-10">
                                            <button class="btn green" type="button" id="nxt">Next</button>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                    <!-- CHANGE AVATAR TAB -->
                                    <div class="tab-pane" id="tab_1_2">
                                        <form name="contactpersonform" ng-submit="addRow(contactpersonform.$valid)" novalidate>
                                            <div class="row">
                                                @*<div class="col-md-1">
                                                        <div class="form-group form-md-line-input form-md-floating-label">
                                                            <input type="text" class="form-control" id="txtcpsalutation" ng-model="salutation" />
                                                            <label>Salutatuon</label>
                                                        </div>
                                                    </div>*@
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcpfirstname" ng-model="firstName" required name="cpfirstname" />
                                                        <label>First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcpmiddlename" ng-model="middleName" />
                                                        <label>Middle Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcplastname" ng-model="lastName" />
                                                        <label>Last Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        @Html.DropDownListFor(model => model.StudentAddress.Country, new SelectList(ViewBag.Relationships, "Relation", "Relation"), "", new { id = "ddlRelationship", @class = "form-control", @required = "required", @ng_model = "relationship" })
                                                        <label>Relationship</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcontactmobile" required ng-model="GuardianPhone.PhoneNumber" />
                                                        <label>Phone</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcontactemail" required ng-model="Email" />
                                                        <label>Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" id="txtcontactphone" ng-model="GuardianBusinessPhone.PhoneNumber" />
                                                        <label>Business Phone</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 text-right">
                                                    @*<button type="button" ng-click="addRow()" class="btn btn-primary blue"><i class="fa fa-plus"></i> Guardian</button>*@
                                                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-plus"></i> Guardian</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <tr>
                                                                <th>First Name</th>
                                                                <th>Relationship</th>
                                                                <th>Mobile</th>
                                                                <th>Email</th>
                                                                <th>Action</th>
                                                            </tr>
                                                            <tr ng-repeat="person in details">
                                                                <td>{{person.firstName}}</td>
                                                                <td>{{person.relationship}}</td>
                                                                <td>{{person.GuardianPhone.PhoneNumber}}</td>
                                                                <td>{{person.Email}}</td>
                                                                <td><button type="button" class="btn red btn-xs" data-ng-click="removeRow($index)"><i class="fa fa-trash"></i></button></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top-10">
                                            <button class="btn green" type="button" id="prv">Previous</button>
                                            <button class="btn green" type="button" id="nxt1">Next</button>
                                        </div>
                                    </div>
                                    <!-- END CHANGE AVATAR TAB -->
                                    <!-- CHANGE PASSWORD TAB -->
                                    <div class="tab-pane" id="tab_1_3">
                                        <div class="portlet-body form">
                                            <div class="portlet-title">
                                                <div class="caption font-red-sunglo">
                                                    <i class="icon-arrow-right font-red-sunglo"></i>
                                                    <span class="caption-subject uppercase"> Terms and Conditions</span>
                                                </div>
                                            </div>
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul>
                                                            <li> Lorem ipsum dolor sit amet </li>
                                                            <li> Consectetur adipiscing elit </li>
                                                            <li> Integer molestie lorem at massa </li>
                                                            <li> Facilisis in pretium nisl aliquet </li>
                                                            <li> Faucibus porta lacus fringilla vel </li>
                                                            <li> Aenean sit amet erat nunc </li>
                                                            <li> Eget porttitor lorem </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="md-checkbox-list">
                                                            <div class="md-checkbox">
                                                                @Html.CheckBoxFor(model => model.IsTermsAndConditionAccept, new { id = "chktermsandconditions", @class = "md-check" })
                                                                <label for="chktermsandconditions">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Accept Terms and Conditions
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="portlet-title">
                                                <div class="caption font-red-sunglo">
                                                    <i class="icon-arrow-right font-red-sunglo"></i>
                                                    <span class="caption-subject uppercase"> Personal Data Usage</span>
                                                </div>
                                            </div>
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul>
                                                            <li> Lorem ipsum dolor sit amet </li>
                                                            <li> Consectetur adipiscing elit </li>
                                                            <li> Integer molestie lorem at massa </li>
                                                            <li> Facilisis in pretium nisl aliquet </li>
                                                            <li> Faucibus porta lacus fringilla vel </li>
                                                            <li> Aenean sit amet erat nunc </li>
                                                            <li> Eget porttitor lorem </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="md-checkbox-list">
                                                            <div class="md-checkbox">
                                                                @Html.CheckBoxFor(model => model.IsUsageOfDataAccept, new { id = "chkpersonaldatausage", @class = "md-check" })
                                                                <label for="chkpersonaldatausage">
                                                                    <span class="inc"></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    Accept Personal Data Usage
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="margin-top-10">
                                            <button class="btn green" type="button" id="prv1">Previous</button>
                                            <button class="btn green" type="button" id="nxt2">Next</button>
                                        </div>
                                    </div>
                                    <!-- END CHANGE PASSWORD TAB -->
                                    <!-- PRIVACY SETTINGS TAB -->
                                    <div class="tab-pane" id="tab_1_4">
                                        <div class="portlet-title">
                                            <div class="caption font-red-sunglo">
                                                <i class="icon-arrow-right font-red-sunglo"></i>
                                                <span class="caption-subject uppercase"> Upload Documents</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                                    <div class="row fileupload-buttonbar">
                                                        <div class="col-lg-7">
                                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                                            <span class="btn green fileinput-button">
                                                                <i class="fa fa-plus"></i>
                                                                <span> Add files... </span>
                                                                <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().setFile(this)" />
                                                            </span>
                                                            <button type="button" class="btn blue start" ng-click="UploadFile()" value="Upload">
                                                                <i class="fa fa-upload"></i>
                                                                <span> Start upload </span>
                                                            </button>
                                                            @*<button type="reset" class="btn warning cancel">
                                                                    <i class="fa fa-ban-circle"></i>
                                                                    <span> Cancel upload </span>
                                                                </button>
                                                                <button type="button" class="btn red delete">
                                                                    <i class="fa fa-trash"></i>
                                                                    <span> Delete </span>
                                                                </button>
                                                                <input type="checkbox" class="toggle">*@
                                                            <!-- The global file processing state -->
                                                            <span class="fileupload-process"> </span>
                                                        </div>
                                                        <!-- The global progress information -->
                                                        <div class="col-lg-5 fileupload-progress fade">
                                                            <!-- The global progress bar -->
                                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                <div class="progress-bar progress-bar-success" style="width: 0%;"> </div>
                                                            </div>
                                                            <!-- The extended global progress information -->
                                                            <div class="progress-extended">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                    <!-- The table listing the files available for upload/download -->
                                                    <div class="table-responsive">
                                                        <table role="presentation" class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>File Name</th>
                                                                    <th>File Type</th>
                                                                    <th>File Size</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="files">
                                                                <tr ng-repeat="file in fileList" class="template-upload fade in">
                                                                    <td>{{file.file.name}}</td>
                                                                    <td>{{file.file.type}}</td>
                                                                    <td>
                                                                        <p>{{file.file.size}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <div id="{{'P'+$index}}">
                                                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                                <div class="progress-bar progress-bar-success" ng-style="{ 'width': file.file.uploadpercentage + '%' }"></div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn red btn-xs" ng-hide="file.file.cancel" data-ng-click="removeFile($index)"><i class="fa fa-trash"></i></button>
                                                                        <button type="button" class="btn btn-warning btn-xs" ng-hide="!file.file.cancel" title="Cancel" data-ng-click="removeFile($index)"><i class="fa fa-ban"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption font-red-sunglo">
                                                        <i class="icon-arrow-right font-red-sunglo"></i>
                                                        <span class="caption-subject uppercase">Other Details</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.DropDownListFor(model => model.Religion.ReligionName, new SelectList(ViewBag.Religions, "ReligionName", "ReligionName"), "", new { id = "ddlReligion", @class = "form-control selectpicker" })
                                                    <label>Religion</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.MotherTongue, new { id = "txtmothertongue", @class = "form-control" })
                                                    <label>Mother Tongue</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @*@Html.ListBoxFor(x => x.AllergyType, (SelectList)(ViewBag.Countries))*@
                                                    @Html.TextBoxFor(model => model.AllergyType, new { id = "txtallergytype", @class = "form-control" })
                                                    <label>Allergy Type</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.AllergicTo, new { id = "txtallergicto", @class = "form-control" })
                                                    <label>Allergic to</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="portlet-title">
                                                    <div class="caption font-red-sunglo">
                                                        <i class="icon-arrow-right font-red-sunglo"></i>
                                                        <span class="caption-subject uppercase">Sibling Studying in this School</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-body">
                                                <div class="col-md-12">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox">
                                                            @Html.CheckBoxFor(model => model.IsSiblingStudyingInSameSchool, new { id = "chkStudyingInSameSchool", @class = "md-check" })
                                                            <label for="chkStudyingInSameSchool">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                Sibling studying in this school
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-md-line-input form-md-floating-label">
                                                    @Html.TextBoxFor(model => model.StudentId, new { id = "txtStudentId", @class = "form-control" })
                                                    <label>Student Id</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary blue"><i class="fa fa-plus"></i> Sibling</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="siblingTable">
                                                </div>
                                            </div>
                                        </div>
                                        <!--end profile-settings-->
                                        <div class="margin-top-10">
                                            <button class="btn green" type="button" id="prv2">Previous</button>
                                            <button class="btn red" type="submit">Save</button>
                                            <a href="javascript:;" class="btn default"> Cancel </a>
                                        </div>
                                    </div>
                                    <!-- END PRIVACY SETTINGS TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
}

@Styles.Render("~/App_Themes/metronic/assets/pages/css/profile.min.css")
@Styles.Render("~/libs//jquery-fileupload/css/jquery.fileupload.css")
@Styles.Render("~/libs/bootstrap-fileinput/bootstrap-fileinput.css")
@Scripts.Render("~/libs/bootstrap-fileinput/bootstrap-fileinput.js")
@*@Styles.Render("~/Bundles/Style/bootstrap-multiselect")
    @Scripts.Render("~/Bundles/bootstrap-multiselect")*@
@Scripts.Render("~/Bundles/UserRegistration")
@Scripts.Render("~/Bundles/ngregistration")

