﻿@model BrightSkool.Domain.Models.CommonModel.Email
<div class="col-md-4">
    <div class="form-group form-md-line-input form-md-floating-label">
        <label class="form-control @(Model.EmailAddress==null?"":"edited")" name="EmailAddress">@Model.EmailAddress</label>
        <label>Email</label>
    </div>
</div>


