﻿@model BrightSkool.Domain.Models.CommonModel.Phone

<div class="col-md-4">
    <div class="form-group form-md-line-input form-md-floating-label">
        <label class="form-control @(Model.PhoneNumber==null?"":"edited")" name="PhoneNumber">@Model.PhoneNumber</label>
        <label>Phone Number </label>
    </div>
</div>