﻿<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>BrightSkool</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="BrightSkool" name="description" />
    <meta content="BrightSkool" name="keywords">
    <meta content="BrightSkool" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />

    @*Style Sheets*@

    @Styles.Render(StylePaths.FontAwesome)
    @Styles.Render(StylePaths.Simple_Line_Icons)     
    @Styles.Render("~/libs/bootstrap/css/bootstrap.css")
    @Styles.Render(StylePaths.JQuery_Uniform)
    @Styles.Render(StylePaths.Toastr)
    @Styles.Render(StylePaths.SweetAlert)
    @Styles.Render("~/App_Themes/metronic/assets/global/css/components-md.css")
    @Styles.Render("~/App_Themes/metronic/assets/global/css/plugins-md.css")
    @Styles.Render("~/App_Themes/metronic/assets/admin/layout/css/layout.css")
    @Styles.Render("~/App_Themes/metronic/assets/admin/layout/css/themes/default.css")
    @Styles.Render("~/App_Themes/metronic/assets/Login/Layout.css")

    @*Jquery Scripts*@

    @Scripts.Render(ScriptPaths.JQuery)
    @Scripts.Render(ScriptPaths.JQuery_Migrate)
    @Scripts.Render(ScriptPaths.Bootstrap)
    @Scripts.Render(ScriptPaths.JQuery_Uniform)
    @Scripts.Render(ScriptPaths.Toastr)
    @Scripts.Render(ScriptPaths.SweetAlert)
    @Scripts.Render(ScriptPaths.JQuery_Validation)
    @Scripts.Render("~/App_Themes/metronic/assets/global/scripts/app.js")
    @Scripts.Render("~/App_Themes/metronic/assets/admin/layout/scripts/layout.js")

</head>
<body class="page-md login">
    <div class="menu-toggler sidebar-toggler">
    </div>
    <div class="logo">
        <a href="~/">
            <img src="~/App_Images/Logo/bishopcottonlogo.png" alt="" width="200" />
        </a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="copyright">
        @DateTime.Now.Year © BrightSkool.
    </div>    
</body>
</html>

