﻿@{
    ViewBag.Title = "Log in";
}

<h3 class="form-title">Log In</h3>

<div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    <span>
        <i class="fa fa-warning"></i> PleaseEnterLoginInformation
    </span>
</div>
<form class="login-form" action="@Url.Action("Login")?returnUrl=" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="returnUrlHash" />
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">UserNameOrEmail</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="User Name Or Email" name="usernameOrEmailAddress" value="" required />
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" />
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase">LogIn</button>
        <label class="rememberme check">
            <input type="checkbox" name="rememberMe" value="true" />Remember Me
        </label>
        <a href="@Url.Action("ForgotPassword", "Account")" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>
    <div class="login-options">
        <h4>Or login with</h4>
        <ul class="social-icons">
            <li>
                <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
            </li>
            <li>
                <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
            </li>
        </ul>
    </div>     
</form>