﻿<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fonts-ptsans-narrow.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fonts-sourcesans-pro.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Bundles/Frontend/libs/css")
    @RenderSection("Styles", false)
    @Styles.Render("~/Bundles/Frontend/metronic/css")
    @Styles.Render("~/Views/Home/layout.css")
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="corporate">
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+65 6272 7303</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@brightskool.com</span></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li>
                            <a href="#">Admission Enquiry</a>
                        </li>
                        <li>
                            <a href="/Registration/Registration">Registration</a>
                        </li>
                        <li>
                            <a href="/Account/Login">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <a class="site-logo" href="/">
                <img src="~/App_Images/Logo/app-logo.png" alt="" width="168" height="33">
            </a>
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <div class="header-navigation pull-right font-transform-inherit">
                <ul>
                    <li class="">
                        <a href="/">Home page</a>
                    </li>
                    <li class="">
                        <a href="#">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10">
                    2016 © BrightSword Technologies. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN PAYMENTS -->
                <div class="col-md-6 col-sm-6">
                    <ul class="social-footer list-unstyled list-inline pull-right">
                        <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
                    </ul>
                </div>
                <!-- END PAYMENTS -->
            </div>
        </div>
    </div>
    @Scripts.Render("~/Bundles/Frontend/libs/js")
    @Scripts.Render("~/Bundles/Frontend/metronic/js")
    @RenderSection("Scripts", false)
</body>
</html>

