﻿
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>BrightSkool</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    <style type="text/css">
        .pre-header {
            color: #fff;
            border-bottom: 1px solid #eee;
            padding-top: 10px;
            line-height: 1.2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            background: #646B89;
        }

        .pre-header ul{
            padding-top:15px;
        }

            .pre-header a {
                color: #616b76;
            }

                .pre-header a:hover {
                    color: #E02222;
                }

                .pre-header a:focus {
                    text-decoration: none;
                }

            .pre-header li {
                padding-left: 11px;
                padding-right: 15px;
                border-right: solid 1px #d8d8d8;
            }

                .pre-header li:last-child {
                    border: none;
                }

        .additional-shop-info li:first-child {
            padding-left: 0;
        }

        .additional-nav li:last-child {
            padding-right: 0;
        }

        .pre-header .fa {
            margin-right: 4px;
        }
    </style>

    @*Style Sheets*@

    <link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Bundles/app/libs/css")
    @Styles.Render("~/Bundles/app/metronic/css")

    @*Jquery Scripts*@
    @Scripts.Render(ScriptPaths.JQuery)
    @Scripts.Render(ScriptPaths.JQuery_UI)
    @Scripts.Render(ScriptPaths.JQuery_Validation)
    @Scripts.Render(ScriptPaths.Bootstrap)
    @Scripts.Render(ScriptPaths.Angular)
    @Scripts.Render(ScriptPaths.regex_Mask)
    @Scripts.Render(ScriptPaths.Bootstrap_DatePicker)
    @Scripts.Render(ScriptPaths.SweetAlert)
    @*@Scripts.Render("~/Bundles/Frontend/libs/js")*@
    @Scripts.Render("~/Bundles/app/metronic/js")
    @*@Scripts.Render("~/Bundles/Common/js")*@
</head>

<body class="page-md">
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    @*<ul class="list-unstyled list-inline">
                        <li><i></i><span>BrightSkool</span></li>                         
                    </ul>*@
                    <div class="logo" style="padding-bottom:5px;">
                        <a href="~/">
                            <img src="~/App_Images/Logo/bishopcottonlogo.png" />
                        </a>
                    </div>                    
                </div>
                <div class="col-md-6 col-sm-6 additional-nav">                                       
                    <ul class="list-unstyled list-inline pull-right">
                        <li><i class="fa fa-phone"></i><span>+65 6272 7303</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@brightskool.com</span></li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div class="page-container" style="margin-top:0px !important;">
        <div class="page-content-wrapper">
            
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="page-footer">
        <div class="copyright">
            <small>
                @DateTime.Now.Year © <a href="http://brightskool.com/" target="_blank">BrightSkool</a> By<a href="http://brightsword.com/" target='_blank'> BrightSword.</a>
            </small>
        </div>
    </div>
</body>
</html>
