﻿
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>BrightSkool</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/favicon.ico" />

    @*Style Sheets*@

    <link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Bundles/app/libs/css")
    @Styles.Render("~/Bundles/app/metronic/css")

    @*Jquery Scripts*@

    @Scripts.Render("~/Bundles/Frontend/libs/js")
    @Scripts.Render("~/Bundles/app/metronic/js")
    @*@Scripts.Render("~/Bundles/Common/js")*@
</head>

<body class="page-md page-header-fixed page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top md-shadow-zero-light">
        @Html.Action("Header", "Layout")
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            @Html.Action("Sidebar", "Layout", new { currentPage = ViewBag.CurrentPage })
        </div>
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="page-footer">
        @Html.Action("Footer", "Layout")
    </div>
</body>
</html>