﻿@model List<BrightSkool.Domain.Models.CommonModel.Relationship>
@{
    ViewBag.CurrentPage = "AppSettings.Relationship";
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="/Dashboard/Index">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span class="active">Relationships</span>
    </li>
</ul>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-blue-madison">
            <i class="icon-info font-blue-madison"></i>
            <span class="caption-subject bold uppercase">Relationship</span>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover order-column dataTable no-footer" id="tblrelationship">
            <thead>
                <tr>
                    <th>Relation Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var relationship in Model)
                {
                    <tr>
                        <td>@relationship.Relation</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Styles.Render(StylePaths.JQuery_datatablescss)
@Styles.Render(StylePaths.JQuery_datatables_bootstrap_css)
@Scripts.Render(ScriptPaths.JQuery_datatablesjs)
@Scripts.Render(ScriptPaths.JQuery_datatables_bootstrap_js)
@Scripts.Render(ScriptPaths.App_Masters)