﻿@{
    Layout = null;
}
<div class="page-footer-inner">
    <span class="text-muted">
        <small>
            2016 © <a href="http://brightskool.com/" target="_blank">BrightSkool</a> By<a href="http://brightsword.com/" target='_blank'> BrightSword.</a>            
        </small>
    </span>
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
