﻿@{
    Layout = null;
}
<div class="page-header-inner">
    <div class="page-logo">
        <a href="@Url.Action("Index", "Home", new {area = string.Empty})" target="_blank">
            <img src="~/App_Images/Logo/bishopcottonlogo.png" alt="logo" class="logo-default" width="149" height="72" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <div class="page-top">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle hover-initialized" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <!-- ngIf: vm.unreadNotificationCount --><span class="badge badge-danger ng-binding ng-scope"> 1 </span><!-- end ngIf: vm.unreadNotificationCount -->
                    </a>
                    <ul class="dropdown-menu" id="UserNotificationDropdown">
                        <li class="external notifications-header">
                            <div class="text-left">
                                <!-- ngIf: vm.unreadNotificationCount --><a href="" class="ng-scope">Set all as read</a><!-- end ngIf: vm.unreadNotificationCount ng-click="vm.setAllNotificationsAsRead(); $event.preventDefault(); $event.stopPropagation();" ng-if="vm.unreadNotificationCount" -->
                                <a class="pull-right" href="">Settings</a> @*ng-click="vm.openNotificationSettingsModal()"*@
                            </div>
                        </li>
                        <li>
                            <!-- ngRepeat: notification in vm.notifications --><ul class="dropdown-menu-list ng-scope"> @*ng-repeat="notification in vm.notifications"*@
                                <li>
                                    <a href="" class="user-notification-item user-notification-item-unread"> <!--ng-class="{'user-notification-item-unread': notification.state=='UNREAD', 'user-notification-item-clickable': notification.url}"-->>
                                        <span class="details ng-binding">
                                            <i class="fa fa-check"></i> Welcome to BrightSkool! Notification system is used to inform you for intended events. You ca...
                                        </span>
                                        <div>
                                            <span class="notification-time" title="2016-05-13 07:46:59" am-time-ago="notification.time">2 months ago</span>
                                            <!-- ngIf: notification.state=='UNREAD' --><span class="ng-scope"> - <span class="set-as-read-text">set as read</span></span><!-- end ngIf: notification.state=='UNREAD' ng-if="notification.state=='UNREAD'" ng-click="vm.setNotificationAsRead(notification); $event.preventDefault(); $event.stopPropagation();" -->
                                        </div>
                                    </a>
                                </li>
                            </ul><!-- end ngRepeat: notification in vm.notifications -->
                            <!-- ngIf: !vm.notifications.length -->
                        </li>
                        <!-- ngIf: vm.notifications.length -->
                        <li class="external notifications-footer ng-scope">  @*ng-if="vm.notifications.length"*@
                            <div class="text-center"><a ui-sref="notifications" href="#/notifications">See all notifications</a></div>
                        </li><!-- end ngIf: vm.notifications.length -->
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <li class="separator hide"> </li>

                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="#" class="dropdown-toggle hover-initialized" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" title="">
                        <span class="username username-hide-on-mobile ng-binding">
                            <!-- ngIf: vm.isImpersonatedLogin --> Administrator
                        </span>
                        <img id="HeaderProfilePicture" alt="" class="img-circle" src="~/App_Images/ProfilePic/default-profile-picture.png">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <!-- ngIf: vm.isImpersonatedLogin -->
                        <!-- ngIf: vm.isImpersonatedLogin -->
                        <li class="dropdown-submenu">
                            <a class="open-left" href=""><i class="icon-link"></i> Linked accounts</a>
                            <ul class="dropdown-menu" style="display: none;">
                                <!-- ngRepeat: linkedUser in vm.recentlyUsedLinkedUsers -->
                                <!-- ngIf: vm.recentlyUsedLinkedUsers.length > 0 -->
                                <li>
                                    <a href=""> @*ng-click="vm.manageLinkedAccounts()"*@
                                        <i class="icon-settings"></i> Manage accounts
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""><i class="icon-key"></i> Change password</a> @*ng-click="vm.changePassword()"*@
                        </li>
                        <li>
                            <a href=""><i class="icon-shield"></i> Login attempts</a>  @*ng-click="vm.showLoginAttempts()"*@
                        </li>
                        <li>
                            <a href=""><i class="icon-user"></i> Change profile picture</a> @*ng-click="vm.changePicture()"*@
                        </li>
                        <li>
                            <a href=""><i class="icon-settings"></i> My settings</a> @*ng-click="vm.editMySettings()"*@
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Account/Logout"><i class="icon-logout"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
