﻿@model BrightSkool.Model.SidebarModel
<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start @(Model.CurrentPage.Equals(PageNames.Dashboard)?"active":"")">
            <a href="#">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage.Contains(PageNames.Admission)?"active open":"")">
            <a href="#">
                <i class="icon-users"></i>
                <span class="title">Admission</span>
                <span class="arrow @(Model.CurrentPage.Contains(PageNames.Admission)?"open":"")"></span>
            </a>
            <ul class="sub-menu">
                <li class="@(Model.CurrentPage.Equals(PageNames.Admission_Enquiries)?"active":"")">
                    <a href="/Admission/Index">
                        <i class="icon-call-in"></i>
                        <span class="title">Admission Enquiries</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Admission_RegisteredStudents)?"active":"")">
                    <a href="/Registration/ProcessRegistration">
                        <i class="icon-action-redo"></i>
                        <span class="title">Registered Students</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="@(Model.CurrentPage.Contains(PageNames.SchoolSettings)?"active open":"")">
            <a href="/SchoolProfile/Index">
                <i class="icon-settings"></i>
                <span class="title">School Settings</span>
                <span class="arrow @(Model.CurrentPage.Contains(PageNames.SchoolSettings)?"open":"")"></span>
            </a>
            <ul class="sub-menu">
                <li class="@(Model.CurrentPage.Equals(PageNames.SchoolSettings_Profile)?"active":"")">
                    <a href="/SchoolProfile/ReadModel">
                        <span><i class="sub-menu-icon icon-graduation"></i> School Profile</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@(Model.CurrentPage.Contains(PageNames.Settings)?"active open":"")">
            <a href="#">
                <i class="icon-settings"></i>
                <span class="title">App Settings</span>
                <span class="arrow @(Model.CurrentPage.Contains(PageNames.Settings)?"open":"")"></span>
            </a>
            <ul class="sub-menu">
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Country)?"active":"")">
                    <a href="/Master/Countries">
                        <span><i class="sub-menu-icon icon-globe"></i> Countries</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Currency)?"active":"")">
                    <a href="/Master/Currencies">
                        <span><i class="sub-menu-icon icon-wallet"></i> Currencies</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Language)?"active":"")">
                    <a href="/Master/Languages">
                        <span><i class="sub-menu-icon icon-flag"></i> Languages</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Religion)?"active":"")">
                    <a href="/Master/Religions">
                        <span><i class="sub-menu-icon icon-info"></i> Religions</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Race)?"active":"")">
                    <a href="/Master/Races">
                        <span><i class="sub-menu-icon icon-paper-clip"></i> Races</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Nationality)?"active":"")">
                    <a href="/Master/Nationalities">
                        <span><i class="sub-menu-icon icon-paper-clip"></i> Nationalities</span>
                    </a>
                </li>
                <li class="@(Model.CurrentPage.Equals(PageNames.Settings_Relationship)?"active":"")">
                    <a href="/Master/Relationships">
                        <span><i class="sub-menu-icon icon-paper-clip"></i> Relationships</span>
                    </a>
                </li>
            </ul>
        </li>
        @*<li class="@(Model.CurrentPage.Contains(PageNames.Administration)?"active open":"")">
                <a href="javascript:;" class="auto">
                    <i class="icon-settings"></i>
                    <span class="title">Administration</span>
                    <span class="arrow @(Model.CurrentPage.Contains(PageNames.Administration)?"open":"")"></span>
                </a>
                <ul class="sub-menu">
                    <li class="@(Model.CurrentPage.Equals(PageNames.Administration_Roles)?"active":"")">
                        <a href="/Roles/Index">
                            <span><i class="sub-menu-icon icon-briefcase"></i> Roles</span>
                        </a>
                    </li>
                    <li class="@(Model.CurrentPage.Equals(PageNames.Administration_Users)?"active":"")">
                        <a href="/Mpa/Users">
                            <span><i class="sub-menu-icon icon-users"></i> Users</span>
                        </a>
                    </li>
                </ul>
            </li>*@
    </ul>
</div>
