﻿@model BrightSkool.Domain.Models.CommonModel.Email
<div class="col-md-4">
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", type = "email" })
        <label>Email</label>
    </div>
</div>


