﻿@model BrightSkool.Domain.Models.CommonModel.Phone
<div class="col-md-4">
    <div class="form-group form-md-line-input form-md-floating-label">
        <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
        <label>Fax Number</label>
    </div>
</div>


