﻿@model BrightSkool.Domain.Models.CommonModel.Phone

<div class="col-md-4">
    <div class="form-group form-md-line-input form-md-floating-label">
        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
        <label>Phone Number </label>
    </div>
</div>